@model Pages.Models.NavLink

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>NavLink</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NavLinkTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NavLinkTitle" class="form-control" />
                <span asp-validation-for="NavLinkTitle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PageId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PageId" class ="form-control" asp-items="ViewBag.PageId"></select>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="ParentLinkId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ParentLinkId" class ="form-control" asp-items="ViewBag.ParentLinkId"></select>
            </div>
        </div>
        <!-- OPEN IT TO ADD FIRST NL
        <div class="form-group">
            <label asp-for="ParentLinkId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParentLinkId" class="form-control" />
                <span asp-validation-for="ParentLinkId" class="text-danger" />
            </div>
        </div>-->
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
